.content{
  max-width: 1440px;
  padding-top: 2em;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;

  .titleSection{
    background: gold;
    
    h2{
      font-size:2.5em;
    }
    }

  .content-box{
    background: #f2f2f2;
    width: 100%;
    height: 300px;
    display: flex;

    .textContent{

    flex: 2;
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .titleAndSub {

      h3{
        margin-bottom: 0.2em;
        text-transform: uppercase;
        font-size: 1.5em;
      }

      h4{
        margin-bottom: 2em;
      }
    }
    }
    .resume{

      flex: 2;
    }
    .TechIcons{
      flex: 1;

     ul{
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
     }

    }
    .art{
      background: black;
      flex: 1;
      order: -1;
    }
  }
}
