.content{
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 5em 10em;
  margin-right: 15em;
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 #000000;
}

.content-box{
  height: 820px;
  max-width: 450px;
  opacity: 0.5;
  font-family: 'monospace', sans-serif;
  backdrop-filter: blur(16px) saturate(165%);
  -webkit-backdrop-filter: blur(16px) saturate(165%);
  background: rgba(0,0,0,0.43);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.125);
  box-shadow: 0 8px 32px 0 rgba(255,255,255,0.25);
  display: flex;
  flex-direction: column;

    &:hover{
      cursor: pointer;
      box-shadow: 0 10px 50px 0 rgba(255,255,255,0.35)
    }
    &:nth-child(even){

      align-self: flex-start;
    }

  .textContent{
    background: none;
    color: white;
    flex: 3;
    padding: 2em;

      &:nth-child(even){ }

        h1{
          color: white;
          animation: fadeIn 500ms both ease-in-out;
          line-height: 1.5;
        }
        h3{
          color: #51e901;
          line-height: 1.5;
          animation: fadeIn 750ms both ease-in-out;
        }
        .resume{
          color: white;
          animation: fadeIn 900ms both ease-in-out }
      
    .resume{
      margin-top: 3em;
      text-align: justify;
      line-height:1.5;
      font-weight: 500;
    }

  }

  .art{
    background: transparent;
    flex: 2;
    order: -1;
  }
}
