*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.app{
  height: 2900px;
  display: grid;
  grid-template-columns: 200px 400px auto;
  grid-auto-rows: 100px;
  gap: 0;
}

.Header{
  grid-column: 1 / -1;
  grid-row: 1 / 1;

}

.main{
  grid-column: 1 / -1;
  grid-row: 2 / 10;
}

.content{
  margin-top: 5em;
  grid-column: 2 / - 1;
  grid-row: 10 / 26;
}

.footer{
  background: purple;
  color: white;
  grid-column: 1 / -1;
  grid-row: 26 / 30;
}
