$mainColor: #7FBEEB;
$fontColor: #0F0326;

.Header{
  background: $mainColor;
  color: $fontColor;
  padding-top: 1.2em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 70px;
  .logoHeader{
    grid-column: 2/-1;
    margin-bottom: 2em;
  }
}
