$mainColor: #0A2D31;

li {
  list-style: none;
}

.Header{

  background: $mainColor;
  color: white;
  padding: 2em;

  nav{
    display: flex;
    gap: 2em;
  }
  ul{
    display: flex;
    gap: 1em;
  }
}
