$mainColor: #0A2D31;
$artEmpy:#C2EFB3;
$mainTablet: 768px;
$mainSmartphone: 360px;


.main{
  background: #f2f2f2;
  max-width: 100%;
  color: black;
  padding: 2em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: 100px;
}

.artMain{
  background: $artEmpy;
  font-size: 120px;
  grid-column: 7 / -1;
  grid-row: 1 / 8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  padding-right: 0;
  grid-row: 2 / 8;
  grid-column: 2 / 6;
  display:flex;
  flex-direction: column;
}

.titleName{
  opacity: 0;
  width: 100%;
  font-size: 3em;
  text-align: start;
  animation: fadeIn 600ms both ease-in-out;
}

.subTitle{
  font-size: 1em;
  font-weight: 300;
  margin: 2em 0;
  line-height: 1.5;
  text-align: justify;
  opacity: 0;
  transition: 1s;
  animation: fadeIn 650ms 500ms both ease-in-out; 
}

.buttonContainer{
  display: flex;
    button{
      display: inline-block;
      width: 200px;
      border-radius: 5px;
      opacity: 0;
      transition: 1s;
        &:nth-child(1){
          animation: fadeIn 650ms 650ms both ease-in-out;
        }
        &:nth-child(2){
          animation: fadeIn 650ms 900ms both ease-in-out;
        }
    }
}

.skills{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 150px;
    .skillsList {
      display: flex;
      gap: 2em;
      li{
        opacity: 0;
        list-style: none;
        transition: 1s;
        animation: fadeIn 650ms 1s both ease-in-out;
      }
    }
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@media (min-width: $mainSmartphone) and (max-width: $mainTablet){
  .main{
    display: flex;
    gap: 3em;
    flex-direction: column;
    height: 660px;
  }

  .buttonContainer{
  justify-content: center;
  }

  .skills{
    justify-content: center;
  }
}
