$mainColor: #0A2D31;

.main{
  max-width: 100%;
  font-family: 'monospace', sans-serif;
  color: black;
  padding: 2em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: 100px;
}

.title{
  padding-right: 0;
  grid-row: 3 / 6;
  grid-column: 2 / 6;
  display:flex;
  flex-direction: column;
}

.titleName{
  font-size: 3em; 
  font-weight: 300;
  opacity: 0;
  width: 100%;
  text-align: start;
  animation: fadeIn 1400ms both ease-in-out;
}

.subTitle{
  color:#00e5ff;
  font-size: 1.2em;
  margin: 2em 0;
  line-height: 1.5;
  text-align: justify;
  opacity: 0;
  transition: 1s;
  animation: fadeIn 1600ms 2s both ease-in-out; 
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
