.main{
  background:#0A2D31;
  font-family: 'monospace', sans-serif;
  color: white;

  padding: 2em;

  text-align: center;

  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: 100px;
}

header{
  grid-column: 1 / -1;
  grid-row: 1 / 1;

}
  
nav{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 4em;
}

.logoHeader{
 display: flex;
 align-items: center;
}

.menu{

  li {
  list-style: none;

  }

  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  font-size: 1.2em;
}

.title{
  padding-right: 3em;
  grid-row: 4 / 6;
  grid-column: 4 / 9;
}

.titleName{
  font-size: 3em;
  font-weight: 300;
  opacity: 0;
  text-align: end;
  animation: fadeIn 3s both ease-in-out alternate;
}

.subTitle{
  color:#00e5ff;
  font-size: 1.2em;
  text-align: end;
  opacity: 0;
  transition: 1s;
  animation: fadeIn 3s 2s both ease-in-out alternate; 
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

